############################
# Node / General
############################
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

############################
# Build / Output
############################
.next
.turbo
.vercel
dist
out
build
coverage
.nuxt

############################
# Env / Secrets
############################
.env
.env.*
!.env.example
secrets/

############################
# Editor / OS
############################
.DS_Store
Thumbs.db
*.swp
*.swo
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

############################
# Misc
############################
*.log
*.tmp
*.temp
*.cache
.eslintcache
.stylelintcache
.turbo
